<!doctype html>
<head>
    {% load static %}
    <title>RedAce -HOME-</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='{% static "accounts/css/base.css" %}' rel="stylesheet"></link>
</head>

<body>
    <div class="grad"></div>
    <div class="container" style="height:100%;">
        <div class="row align-items-center" style="height:100%;">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="text-end title">Red Ace</p>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col">
                <h1 class="text-start">Project Creation</h1>
                <form method='POST' action="{% url 'accounts:create_project' %}" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                        <label style="width: 110px;">Admin</label>
                        <label class="col-form-label">{{ user.username }}</label>
                    </p>
                    <p>
                        <label for="id_name" style="width: 110px;">Project name</label>
                        <input type="text" class="form-control-sm" name="name" maxlength="20" required id="id_name" placeholder="Project name">
                    </p>
                    <p>
                        <label for="id_password" style="width: 110px;">Password</label>
                        <input type="password" class="form-control-sm" name="password" required id="id_password" placeholder="Password">
                    </p>
                    <p></p>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>

